.vending-panel {
  background-color: #8f8f8f;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 400px;
  font-family: sans-serif;
}

.vending-display,
.vending-items {
  background-color: #3b3f30;
  color: white;
  padding: 0.75rem;
  border-radius: 0.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

.coin-row {
  img.coin-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.vending-keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  background-color: #484747;
  border-radius: 1rem;
  padding: 0.5rem;
}

.vending-key {
  background-color: #e0e0e0;
  border: 1px solid #333;
  padding: 1rem 0;
  border-radius: 10px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.a-enter-vr{
  display: none;
}

.vending-btn {
  background-color: #c3af00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  width: 100%;
}
